<!--Navigation-->
<div class="navbar-fixed">
  <nav class="navbar-material white">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo hide-on-small-only"></a>
      <a href="#" data-target="side-panel" class="sidenav-trigger"><i
          class="material-icons red-text text-darken-1">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/googlesheet" class="red-text">Google Sheet</a></li>
        <li><a href="/pokedex" class="red-text">List of Subs</a></li>
        <li><a href="/items" class="red-text">Friend List</a></li>
        <li><a href="/calc" class="red-text">Calculator</a></li>
        <a href="https://www.sharesub.net" class="waves-effect waves-light btn red lighten-1"
          target="_blank">Help<i class="material-icons right">help_outline</i></a>
        <div style="display: inline-block; width: 20px;"></div>
      </ul>
    </div>
  </nav>
</div>
<!--Side Panel-->
<ul class="sidenav" id="side-panel">
  <li><a href="/" class="red-text">Home</a></li>
  <li><a href="/googlesheet" class="red-text">Google Sheet</a></li>
  <li><a href="/pokedex" class="red-text">List of Subs</a></li>
  <li><a href="/items" class="red-text">Friend List</a></li>
  <li><a href="/calc" class="red-text">Calculator</a></li>
  <li><a href="https://www.sharesub.net" class="red-text" target="_blank">Help</a></li>
</ul>
