<!DOCTYPE html>
<html lang="en">
<!--Head-->
<% include partials/head %>

<body>
	<!--Navbar-->
	<% include partials/nav %>
	<!--Main Content-->

  <section id="type-effect" class="container sect">
		<h3 class="center-align deep-orange-text text-darken-4">Google Sheet</h3>
		<div class="gap-10"></div>

<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTp7krzK7tUM5HbabSzV78U3XG-hGnyxDnLSStKHRa_rZ7vA_jzAoXUdsu-tyefjT_CPXFqFfmPYB14/pubhtml?widget=true&amp;headers=false" width="1000" height="500"></iframe>

		<div style="display: none;" id="type-info">
			<div class="gap-40"></div>
			<div id="type-content">
			</div>
		</div>
	</section>
	<!--Footer-->
	<% include partials/footer %>
	<!--Scripts-->
	<% include partials/scripts %>
	<!--Custom Scripts-->

</body>

</html>
